<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <!--link rel="stylesheet" href="../assets/MaterialDesign/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../assets/vuetify/dist/vuetify.min.css"-->
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-card>
            <v-toolbar color="info" class="elevation-0" dark  >
              Form Invoice Toko Indrajaya
            </v-toolbar>
            <v-card-text>
              <v-card class="elevation-0" outline>
                <v-card-text >
                  <v-row>
                    <v-col cols="4" md="2">
                      <v-text-field
                        label="No. Telepon Toko"
                        ref="refKopTeleponToko"
                        @keyup.enter="focusInputNama"
                        v-model="kop.teleponToko"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="8" md="4">
                      <v-text-field
                        label="Nama"
                        v-model="kop.nama"
                        ref="refKopNama"
                        @keyup.enter="focusInputAlamat"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field
                        label="Alamat"
                        ref="refKopAlamat"
                        @keyup.enter="focusInputNoTelepon"
                        v-model="kop.alamat"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" md="3">
                      <v-text-field
                        label="No. Telepon"
                        ref="refKopTelepon"
                        @keyup.enter="focusInputNoInvoice"
                        v-model="kop.telepon"
                      ></v-text-field>
                    </v-col>
                    
                    <v-col cols="6" md="3">
                      <v-text-field
                        label="No. Faktur"
                        ref="refKopInvoiceKe"
                        @keyup.enter="focusInputNamaBarang"
                        v-model="kop.invoiceKe"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" md="3">
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        max-width="290"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            :value="computedDateFormattedMomentjs"
                            clearable
                            label="Tgl. Faktur"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            @click:clear="kop.tgl = null"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date"
                          @change="menu = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="6" md="3">
                      <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      max-width="290"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          :value="computedDateFormattedMomentjs1"
                          clearable
                          label="Jatuh Tempo"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          @click:clear="kop.jthTempo = null"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date1"
                        @change="menu1 = false"
                      ></v-date-picker>
                    </v-menu>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        label="Nama Barang"
                        v-model="add.description"
                        ref="refNamaBarang"
                        @keyup.enter="focusInputQty"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" md="2">
                      <v-text-field
                        label="QTY"
                        type="number"
                        v-model="add.qty"
                        ref="inputQty"
                        @keyup.enter="focusInputSatuan"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" md="2">
                      <v-text-field
                        label="Sat"
                        v-model="add.satuan"
                        ref="inputSatuan"
                        @keyup.enter="focusInputHarga"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4" md="2">
                      <v-text-field
                        label="Harga"
                        type="number"
                        v-model="add.unitPrice"
                        ref="inputHarga"
                        @keyup.enter="addKeranjang"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" md="2">
                      <v-btn color="info" block small class="elevation-0 mt-5" @click="addKeranjang">Simpan</v-btn>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>

              <v-card class="elevation-0">
                <v-card-text>
                  <template>
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">QTY</th>
                            <th>Satuan</th>
                            <th class="text-left">KETERANGAN</th>
                            <th class="text-right">HARGA</th>
                            <th class="text-right">TOTAL</th>
                            <th class="text-center">AKSI</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item) in keranjangBarang">
                            <td class="text-left">{{ item.qtyTampil }}</td>
                            <td>{{item.satuan}}</td>
                            <td>{{ item.description }}</td>
                            <td class="text-right">{{ item.unitPriceTampil }}</td>
                            <td class="text-right">{{ item.amountTampil }}</td>
                            <td class="text-center">
                              <v-btn color="warning" small icon @click="setEdit(item)">
                                <v-icon>mdi-pencil</v-icon>
                              </v-btn>
                              <v-btn color="error" small icon @click="hapusItem(item)">
                                <v-icon>mdi-delete</v-icon>
                              </v-btn>
                            </td>
                          </tr>
                          <!--tr>
                            <td colspan="5" class="text-left">
                              <strong> Total Tagihan: {{totalBelanjaString}},00</strong>
                            </td>
                          </tr-->
                          <tr>
                            <td colspan="4" class="text-left">
                              Terbilang: {{ totalBelanjaTerbilang }} rupiah.
                            </td>
                            <td colspan="2" class="text-right"><strong> Total Tagihan: {{totalBelanjaString}},00</strong></td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </template>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="info" class="mt-3 elevation-0" small @click="simpanPdf"><span><v-icon>mdi-file-download</v-icon></span>Simpan PDF</v-btn>
                  <v-btn color="info" class="mt-3 elevation-0" small @click="lihatPdf"><span><v-icon>mdi-eye</v-icon></span>Lihat PDF</v-btn>
                </v-card-actions>
              </v-card>

            </v-card-text>
          </v-card>

          <v-dialog
            v-model="dialogEdit"
            scrollable 
            persistent :overlay="false"
            max-width="500px"
            transition="dialog-transition"
          >
            <v-card>
              <v-toolbar color="warning" dark class="elevation-0">
                <v-toolbar-title>
                  Update Data Barang
                </v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      label="Nama Barang"
                      v-model="add.description"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      label="QTY"
                      v-model="add.qty"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      label="Harga"
                      v-model="add.unitPrice"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" justify-center>
                    <v-btn color="success" block class="elevation-0 mt-4" @click="updateKeranjang">Simpan</v-btn>
                    </v-col>
                    <v-col cols="6" justify-center>
                    <v-btn color="error" block class="elevation-0 mt-4" @click="dialogEdit = false">Batal</v-btn>
                  </v-col>
                </v-row>

              </v-card-text>
            </v-card>
          </v-dialog>

        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  
  <!--script src="./assets/vue/dist/vue.js"></script>
  <script src="./assets/axios/dist/axios.js"></script>
  <script src="./assets/vuetify/dist/vuetify.min.js"></script-->
  <script src="js/jspdf.min.js"></script>
  <script src="js/jspdf.plugin.autotable1.js"></script>
  <script src="js/terbilang.min.js"></script>
  <script src="js/moment-with-locales.js"></script>
  <script src="js/invoice.js"></script>

  <script>

  </script>
</body>

</html>
